@import "../node_modules/angular-calendar/css/angular-calendar.css";

.cal-week-view .cal-time-events {
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}
.cal-day-columns {
  height: 100%;
}

.cal-month-view .cal-day-badge {
  display: none;
}

.cal-week-view .cal-day-headers {
  margin-right: 17px;
  width: 641px;
}

.cal-month-view .cal-header {
  width: 580px;
}

.cal-day-selected,
.cal-day-selected:hover {
  background-color: #9fecfb !important;
}

.mat-dialog-container {
  min-width: 600px;
  background-color: #f7f7f7;
}

.time-change-icons {
  color: #ff8989;
}

.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
